$ren.box($ren.ct($portal.name + ' -> ' + $room.name, $colors[1]), $color_list[0], center=True)
#if $to == True and $portal.description_to != ''#$portal.description_to$ren.nl#end if##slurp
#if $to == False and $portal.description_from != ''#$portal.description_from$ren.nl#end if##slurp
$ren.lr
